@import "../../styles/common.scss";

@mixin item-box($padding, $border-property) {
  position: relative;
  padding: $padding;
  cursor: pointer;
  #{$border-property}: 1px solid #e6e6e6;
  text-align: center;

  &:hover {
    background: $color-sub;
  }
}

@mixin table-cell() {
  width: 200px;
  padding: 25px 5px;
  border: 0.5px solid #e6e6e6;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

.lds-spinner {
  display: block;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  div:after {
    background: $color-main;
  }
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  height: calc(100vh - 58.4px);
  background: rgb(250, 250, 250);

  .todo-contents {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__title {
      display: block;
      padding: 13px;
      background: $color-title;
      font-size: 14px;
      color: #fff;
    }

    &__table-header {
      @include table-cell();
    }

    &__table-cell {
      @include table-cell();
    }
  }

  .expedition-box {
    width: 200px;
    &__list {
    }

    &__item--active {
      @include item-box(20px, border-bottom);
      color: $color-main;
      font-weight: bold;
      opacity: 0.5;
      background: $color-sub;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &:hover {
        opacity: 1;
        background: rgba(78, 148, 79, 0.3);
        color: $color-main;
      }
    }

    &__item {
      @include item-box(20px, border-bottom);

      &__rm-btn {
        position: absolute;
        top: 8px;
        right: 6px;

        color: #999;
        &:hover {
          color: #666;
        }
      }

      &:last-child {
        &:hover {
          background: none;

          .add-btn {
            color: #777;
          }
        }
      }

      &__todo-text {
      }

      &__todo-clear {
      }

      &__add-btn {
        transform: scale(1.5);
        color: #e6e6e6;
        &:hover {
          color: #999;
        }
      }
      &__add-input {
        display: none;
        margin: 0 auto;
        border: none;
        text-align: center;
      }
    }
  }

  .character-box {
    width: 800px;
  }
}
