@import "../../styles/common.scss";

@mixin btn-disabled($abledBackground, $disabledBackground, $color: #fff) {
  color: $color;
  background: $abledBackground;
  cursor: pointer;

  &:disabled {
    background: $disabledBackground;
    cursor: default;
  }
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 3rem;
  width: 20rem;
  height: 100%;

  h1 {
    display: block;
    font-size: 2rem;
    color: $color-main;
    font-weight: bold;
    text-align: center;
  }

  .form_box {
    display: flex;
    flex-direction: column;

    .input_box {
      position: relative;
      margin-top: 3.5rem;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;

      .input_txt {
        position: absolute;
        bottom: 0.5rem;
        left: 0.3rem;
        font-size: 1rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.3);
        transition: all ease 0.3s;
        pointer-events: none;
      }

      &:focus-within .input_txt,
      .focus_out {
        top: -0.4rem;
        left: 0.2rem;
        font-size: 0.8rem;
        color: $color-main;
      }

      .input_field {
        border: none;
        width: 85%;
        padding: 1rem 0 0.5rem 0.3rem;

        &:focus {
          outline: none;
        }
      }

      .icon {
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-50%) scale(1.2);
        &.unchecked {
          color: red;
        }

        &.checked {
          color: green;
        }
      }
    }

    .req_msg {
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      margin-top: 0.5rem;
      width: 21rem;
      font-size: 0.8rem;

      &.success {
        color: green;
      }

      &.false {
        color: red;
      }
    }

    .checkEmail_button {
      padding: 10px 0;
      position: absolute;
      top: 50%;
      right: -4.5rem;
      width: 4rem;
      transform: translateY(-50%);

      @include btn-disabled($color-main, #d3d3d3);
    }

    .button_submit {
      padding: 8px 5px;
      margin: 3.5rem auto;
      width: 60%;
      font-weight: bold;
      font-size: 1.2rem;

      @include btn-disabled($color-main, #d3d3d3);
    }
  }
}
