@import "../../styles/common.scss";

.container {
  .getChar_form_box {
    .submit_btn {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background: $color-sub;
    }
  }
}
