@import "../../styles/common.scss";

@mixin snb_icon($icon, $color) {
  a:before {
    position: absolute;
    left: 50px;
    line-height: 3;
    content: fa-content($icon);
    color: $color;
  }
}

.snb {
  overflow-x: hidden;
  width: 0;
  padding-top: 50px;
  border-right: #e6e6e6 1px solid;
  transition: ease 0.2s;

  .snb_list {
    .snb_menu {
      height: 40px;
      position: relative;
      display: block;
      font-size: 14px;
      @extend %fa-icon;
      @extend .fa-solid;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:nth-child(1) {
        @include snb_icon($fa-var-rectangle-list, #6b9900);

        a:before {
          left: 48.5px;
        }
      }
      &:nth-child(2) {
        @include snb_icon($fa-var-calendar-day, #0000db);
      }
      &:nth-child(3) {
        @include snb_icon($fa-var-calendar-week, #8041d9);
      }
      &:nth-child(4) {
        @include snb_icon($fa-var-skull, #b70000);
      }

      a {
        display: block;
        height: 100%;
        overflow: hidden;
      }

      span {
        line-height: 3;
        padding-left: 80px;
        font-weight: 500;
      }
    }
  }
}
