.pagination {
  position: absolute;
  width: 100px;
  text-align: center;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  &__current-num {
    line-height: 2;
  }

  button {
    position: absolute;
    cursor: pointer;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;

    &:hover {
      transform: translateY(-1px) scale(2);
    }
  }

  &__back-btn {
    left: -20px;
  }
  &__front-btn {
    right: -20px;
  }
}
