@import "../../../styles/common.scss";

.header {
  padding: 0 40px;
  background-color: $color-main;
  display: flex;
  justify-content: space-between;

  .header_left,
  .header_right {
    display: flex;
  }

  .nav_btn {
    position: relative;
    margin: 12px 20px 12px 0;
    padding: 6px 10px;
    color: #fff;
    font-size: 17px;
    border-radius: 7px;
    transition: all ease 0.3s;

    &:hover {
      background-color: $color-sub;
    }

    &:active {
      background-color: $color-main;
    }
  }
}
