@import "../../../styles/common.scss";

@mixin nav__link {
  cursor: pointer;
  position: relative;
  margin: 12px 20px 12px 0;
  padding: 6px 10px;
  color: #fff;
  font-size: 17px;
  border-radius: 7px;
  transition: all ease 0.3s;

  &:hover {
    background-color: $color-sub;
  }

  &:active {
    background-color: $color-main;
  }
}

.header {
  padding: 0 40px;
  background-color: $color-main;
  display: flex;
  justify-content: space-between;

  &__nav {
    display: flex;
  }

  &__nav__link {
    @include nav__link;

    &--background-none {
      background: none;
    }
  }
}
